<%= form_tag("/createUser", :method=>'post',:validate=> true, :id=>"CreateUser", :multipart => false) do |f| %>
<input type="hidden" id="email_flag" value="0">
<%= hidden_field_tag 'product_id', (Product.find_by_product_name('algofast web')).try(:id) %>

<div id="exampleModal" class="reveal-modal">

	<div class="popupwrap">
		<a class="close-reveal-modal" >X</a>
		<div class="popheaderSection">
			Create a new account
		</div>
		<div class="popbodySection" id="popup1">
			<div class="stepnavWrap">
				<ul>
					<a href="#">
					<li class="marginNone">
						<div class="icondiv icondiv_ACTIVE icon-pop-user"></div>
						<div class="icondivText">
							Account
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icon-pop-address"></div>
						<div class="icondivText">
							Address
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icon-pop-pencil"></div>
						<div class="icondivText">
							Agreement
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icon-pop-thumbs-up"></div>
						<div class="icondivText">
							Confirmation
						</div>
					</li></a>
				</ul>
			</div>
			<div class="popMiddleContainerWrap">
				<h6>User Details</h6>
				<div class="popfieldsSectionRow">
					<div class="col1 left fieldpadd">
						<p>
							First Name
						</p>
						<input class="required" id="agUserFirstName"  name="agUserFirstName" type="text">
					</div>
					<div class="col1 left fieldpadd">
						<p>
							Last Name
						</p>
						<input class="required" id="agUserLastName" name="agUserLastName" type="text">
					</div>
					<div class="col1 left fieldpadd">
						<p>
							Email Address
						</p><label id="error_explanation1" class="error errorExplanation"></label>
						<input class="required"  id="agUserEmail" name="agUserEmail" type="text">
					</div>
					<div class="col1 left fieldpadd">
						<p>
							Password
						</p>
						<input  id="agUserPassword" class="required" name="agUserPassword" type="password">
					</div>
					<div class="col1 left fieldpadd marginNone">
						<p>
							Confirm Password
						</p>
						<input id="agUserConfirmPassword" name="agUserConfirmPassword" type="password">
					</div>
					<div class="col1 left fieldpadd">
						<label id="error_explanation" class="error errorExplanation "></label>
						<div id="customize_recaptcha" class="required">
							<%= recaptcha_tags %>
						</div>
					</div>
					<div id="error_explanation5"  ></div>
				</div>

				<div class="popUpProcessBar"></div>

			</div>
			<div class="popFooterContainerWrap">
				<div class="cancelBtn">
					<input type="reset" value="Cancel" onclick="resetForm('formId');" class="button radius small secondary"/>

				</div>
				<div class="nextBtn">
					<a class="button blueGradiant radius" id="sc_popup1" href="javascript:void(0)">Next</a>
				</div>
			</div>
		</div>

		<div class="popbodySection" id="popup2">
			<div class="stepnavWrap">
				<ul>
					<a href="#">
					<li class="marginNone">
						<div class="icondiv icondiv_ACTIVE icon-pop-user"></div>
						<div class="icondivText">
							Account
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icondiv_ACTIVE icon-pop-address"></div>
						<div class="icondivText">
							Address
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icon-pop-pencil"></div>
						<div class="icondivText">
							Agreement
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icon-pop-thumbs-up"></div>
						<div class="icondivText">
							Confirmation
						</div>
					</li></a>
				</ul>
			</div>
			<div class="popUpProcessBar">
				<span class="popUpProcessBar_blue_1"></span>
			</div>
			<div class="popMiddleContainerWrap">
				<h6>Address</h6>
				<div class="popfieldsSectionRow">
					<div class="col1 left fieldpadd">
						<p>
							Street
						</p>
						<input class="required" name="agUserStreet" type="text">
					</div>
					<div class="col1 left fieldpadd">
						<p>
							City
						</p>
						<input class="required" name="agUserCity" type="text">
					</div>
					<div class="col1 left fieldpadd">
						<p>
							State
						</p>
						<select name="agUserState" id="state" class="required" style="margin-bottom: 5px">
							<option value="" selected>-- Select One --</option>
							<option value="Alabama">Alabama</option>
							<option value="Alaska">Alaska</option>
							<option value="Arizona">Arizona</option>
							<option value="Arkansas">Arkansas</option>
							<option value="California">California</option>
							<option value="Colorado">Colorado</option>
							<option value="Connecticut">Connecticut</option>
							<option value="Delaware">Delaware</option>
							<option value="District of Columbia">District of Columbia</option>
							<option value="Florida">Florida</option>
							<option value="Georgia">Georgia</option>
							<option value="Hawaii">Hawaii</option>
							<option value="Idaho">Idaho</option>
							<option value="Illinois">Illinois</option>
							<option value="Indiana">Indiana</option>
							<option value="Iowa">Iowa</option>
							<option value="Kansas">Kansas</option>
							<option value="Kentucky">Kentucky</option>
							<option value="Louisiana">Louisiana</option>
							<option value="Maine">Maine</option>
							<option value="Maryland">Maryland</option>
							<option value="Massachusetts">Massachusetts</option>
							<option value="Michigan">Michigan</option>
							<option value="Minnesota">Minnesota</option>
							<option value="Mississippi">Mississippi</option>
							<option value="Missouri">Missouri</option>
							<option value="Montana">Montana</option>
							<option value="Nebraska">Nebraska</option>
							<option value="Nevada">Nevada</option>
							<option value="New Hampshire">New Hampshire</option>
							<option value="New Jersey">New Jersey</option>
							<option value="New Mexico">New Mexico</option>
							<option value="New York">New York</option>
							<option value="North Carolina">North Carolina</option>
							<option value="North Dakota">North Dakota</option>
							<option value="Ohio">Ohio</option>
							<option value="Oklahoma">Oklahoma</option>
							<option value="Oregon">Oregon</option>
							<option value="Pennsylvania">Pennsylvania</option>
							<option value="Rhode Island">Rhode Island</option>
							<option value="South Carolina">South Carolina</option>
							<option value="South Dakota">South Dakota</option>
							<option value="Tennessee">Tennessee</option>
							<option value="Texas">Texas</option>
							<option value="Utah">Utah</option>
							<option value="Vermont">Vermont</option>
							<option value="Virginia">Virginia</option>
							<option value="Washington">Washington</option>
							<option value="West Virginia">West Virginia</option>
							<option value="Wisconsin">Wisconsin</option>
							<option value="Wyoming">Wyoming</option>
						</select>
					</div>
					<div class="col1 left fieldpadd" hidden="true">
						<p>
							Country
						</p>
						<select name="agUserCountry" id="agUserCountry" class="required" style="margin-bottom: 5px">
							<option value="US">USA</option>
						</select>
					</div>
					<div class="col1 left fieldpadd">
						<p>
							Zip Code
						</p>
						<input id="agUserZipcode" minlength="5" maxlength="5" class="required number"  name="agUserZipcode" type="text">
					</div>
					<div class="col1 left fieldpadd marginNone">
						<p>
							Phone Number
						</p>
						<input id="agUserPhone"  minlength="10" maxlength="10" class="required number" name="agUserPhone" type="text">
					</div>

					<div class="col1 left fieldpadd">
						<% @list = YAML::load(File.open("#{Rails.root}/config/questions.yml"))%>
						<% @list.keys.each do |set| %>
						<p>
							<%= select_tag 'questions[]',options_for_select(@list[set]) %>
						</p>
						<%= text_field_tag "answers[]", nil, :class => 'required' %>
						<% end %>
					</div>

				</div>
			</div>
			<div class="popFooterContainerWrap">
				<div class="cancelBtn">
					<input type="reset" value="Cancel" onclick="resetForm('formId');" class="button radius small secondary"/>

				</div>
				<div class="nextBtn">
					<a id="backstep1" href="javascript:void(0)" class="button radius secondary">Back</a>
					<a class="button blueGradiant radius" id="sc_popup2" href="javascript:void(0)">Next</a>
				</div>
			</div>
		</div>

		<div class="popbodySection" id="popup4">
			<div class="stepnavWrap">
				<ul>
					<a href="#">
					<li class="marginNone">
						<div class="icondiv icondiv_ACTIVE icon-pop-user"></div>
						<div class="icondivText">
							Account
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icondiv_ACTIVE icon-pop-address"></div>
						<div class="icondivText">
							Address
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icondiv_ACTIVE icon-pop-pencil"></div>
						<div class="icondivText">
							Agreement
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icon-pop-thumbs-up"></div>
						<div class="icondivText">
							Confirmation
						</div>
					</li></a>
				</ul>
			</div>
			<div class="popUpProcessBar">
				<span class="popUpProcessBar_blue_3"></span>
			</div>
			<!--Top Step Navigation Section-->
			<div class="popMiddleContainerWrap">
				<div class="popfieldsSectionRow">

					<h6>Agreement</h6>
					<div id="aggMasterData" class="popfieldsSectionRow"></div>
					<div id="error_explanation2" style="color: #c60f13"  ></div>

					<div class="col1 left margintop20">
						<p>
							Please enter your name to Sign
						</p>
						<input id="agUserSignature" name="agUserSignature" class="required" type="text">
					</div>
				</div>
			</div>
			<div id="create_user_load_wait" class="user_create_loading_tab">
				<%= image_tag "wait.gif", class: "loading_image" %>
				<br>
				<b>Loading..</b>
			</div>
			<div class="popFooterContainerWrap">
				<div class="createBtn column centered">
                  <%= link_to_function "Create Account", "validateFourthPage();", id: "sc_popup4", class: "button blueGradiant large"%>
                  <span class="forgot_pass"><a id="backstep2" class="icon-forgot" href="javascript:void(0)">Back</a></span>
				</div>
			</div>
		</div>

		<div class="popbodySection" id="popup5">
			<div class="stepnavWrap">
				<ul>
					<a href="#">
					<li class="marginNone">
						<div class="icondiv icondiv_ACTIVE icon-pop-user"></div>
						<div class="icondivText">
							Account
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icondiv_ACTIVE icon-pop-address"></div>
						<div class="icondivText">
							Address
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icondiv_ACTIVE icon-pop-pencil"></div>
						<div class="icondivText">
							Agreement
						</div>
					</li></a>
					<a href="#">
					<li>
						<div class="icondiv icondiv_ACTIVE icon-pop-thumbs-up"></div>
						<div class="icondivText">
							Confirmation
						</div>
					</li></a>
				</ul>
			</div>
			<div class="popUpProcessBar">
				<span class="popUpProcessBar_blue_4"></span>
			</div>
			<!--Top Step Navigation Section-->
			<div class="popMiddleContainerWrap">
				<h6>Confirmation</h6>
				<div class="popfieldsSectionRow">
					<span class="congrats">Congratulations...</span>
					<span class="congrats welcomealgo">Welcome to AlgoFast</span>
					<p class="text-justify">
						You have now created an account with AlgoFast. Before you can execute trades, you must have a brokerage account linked to your AlgoFast Account. If you don't already have an account with Tradier, you can set one up <a href="https://brokerage.tradier.com/" target="_blank"> [here]</a>. To execute trades based on events, please activate news sources in your user settings.
					</p>
				</div>
			</div>
			<div class="popFooterContainerWrap">
				<div class="popcloseBtn">
					<a class="button blueGradiant radius close-reveal-modal"  href="/algofast_users/sign_in">Close</a>
				</div>
			</div>
		</div>
	</div>

</div>
<% end %>
<script>
	function resetForm(id) {
		validator.resetForm();
	}
</script>
<script>
    $( ".close-reveal-modal" ).on( "click", function() {
        document.getElementById("CreateUser").reset();
    });
</script>
<style >
	#customize_recaptcha .recaptcha_input_area input {
		position: static !important;
	}
	#customize_recaptcha #recaptcha_table td {
		width: none;
	}

	.recaptcha_r1_c1 {
		display: none;
	}

	.recaptchatable .recaptcha_r1_c1 {
		background: none !important;
	}

	.recaptchatable .recaptcha_r2_c1 {
		background: none !important;
		display: none;
	}

	.recaptchatable .recaptcha_r2_c2 {
		background: none !important;
		display: none;
	}

	.recaptchatable .recaptcha_r3_c1 {
		background: none !important;
		display: none;
	}

	.recaptchatable .recaptcha_r3_c2 {
		background: none !important;
		display: none;
	}

	.recaptchatable .recaptcha_r3_c3 {
		background: none !important;
		display: none;
	}

	.recaptchatable .recaptcha_r4_c4 {
		background: none !important;
		display: none !important;
	}

	.recaptchatable .recaptcha_r4_c2 {
		background: none !important;
		display: none !important;
	}

	.recaptcha_only_if_privacy {
		display: none;
	}

	.recaptchatable .recaptcha_r4_c1 {
		background: none !important;
	}

	.recaptchatable .recaptcha_r7_c1 {
		background: none !important;
		display: none;
	}

	.recaptchatable .recaptcha_r8_c1 {
		background: none !important;
		display: none;
	}

	#recaptcha_image {
		padding: 10px;
		float: left;
		height: 72px !important;
	}

	#recaptcha_area, #recaptcha_table {
		width: 100% !important
	}

	.recaptcha_input_area {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
		height: 45px !important;
		margin-left: 0px !important;
		margin-right: 0px !important;
		position: absolute !important;
		width: 87% !important;
	}

	.recaptchatable #recaptcha_response_field {
		width: 100% !important;
	}

	#recaptcha_reload_btn img {
		left: 145px;
		margin-top: -63px;
		position: relative !important;
		top: -64px;
	}

	#recaptcha_switch_audio_btn img {
		left: 145px;
		margin-top: -68px;
		position: relative !important;
		top: -60px;
	}

	#recaptcha_whatsthis_btn img {
		left: 145px;
		margin-top: -68px;
		position: relative !important;
		top: -56px;
	}

	.recaptcha_image_cell {
		border: 1px solid #f5f5f5 !important;
		background: #fafafa !important;
	}

	#customize_recaptcha .recaptcha_input_area input {
		margin-top: -7px !important;
		position: relative !important;
		padding-left: 10px !important;
	}

	.recaptcha_theme_red #recaptcha_response_field {
		border: 1px solid #CCCCCC !important;
	}

	.recaptcha_r4_c1 label {
		margin-top: -54px !important;
	}
</style>
